
        body {
            background:black; /* fondo */
            color:white; /* texto */
            font-family:Arial,sans-serif; /* fuente */
        }

        .caja-formulario {
            background: #1a1a1a; /* fondo */
            border: none;
            border-radius:6px; /* bordes redondeados */
        }

        table thead {
            background:white; /* cabecera tabla */
        }

        .tabla-clara {
            background-color:white; /* color tabla */
        }

        .btn {
            border:none; /* botones sin borde */
        }

        header h1 {
            margin-bottom:5px; /* espacio bajo título */
        }
        

body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.texto {
  max-width: 400px;  }



input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
}

body {
  padding-top: 50px; /* o más, depende de la altura de tu navbar */
}




